* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

h3 {
    margin-bottom: 15px;
}

.container {
    background-color: white;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    border-top: 5px solid orange;
}

.inline {
    max-width: 100%;
    margin: 0 auto;
}

.input-icon {
    position: relative;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.input-group1 {
    position: relative;
    width: 50%; /* Adjust width to remove space */
}

.input-name,
.input-last {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
}

.input-group {
    position: relative;
    width: 100%; /* Increase the width of other input fields */
}

.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    margin-bottom: 8px;
}

.input-icon .fa {
    position: absolute;
    padding: 10px;
    min-width: 40px;
    left: 0;
    top: 0;
}

.select {
    width: 100%;
    height: 30px;
}

.btn {
    width: 100%;
    height: 40px;
    background-color: orange;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
@media 
